*{
    padding: 0px;
    margin: 0px;

}
@media only screen and (max-width: 480px) {
    
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    
}
.row{
    background-color:  lightyellow;
}

#ieee_logo{
/*    border: 4px solid;*/
    height: 70px;
    width: 100%;
    margin-top:0.8vw;

}
#iiit_logo{
/*    border: 4px solid;*/
    height: 80px;
    width: 80%;
    float: right;
    margin-top:0.5vw;
}
#head_text{
    border: 4px solid;
    word-wrap: normal;
    text-align: center;
    width: 100%;
    font-size: 3.8vw;
    margin-top:2vh;
    
}
#head_text {

  border: none;
  font: normal/ Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-shadow: 2px 3px 8px rgba(0,150,255,0.91) ;
}

#navi_bar {
	text-align: center;
}

#head_list_item{
	margin-top: 8px;
	display: inline-block;
	margin-bottom: 5px;
    margin-top: 10px;

}
#head_list_item>a {
    padding: 10px 20px;
    margin:auto;
	color: black;
	font-family: calibri;
	font-size: 2vw;
    background-color: cornsilk;
    text-decoration: none;
    border-radius: 7px;

}
#head_list_item>a:hover {
	color: white;
	background-color: lightseagreen;
	text-decoration: none;
    font-weight: 600;
    border-radius: 7px;
}

#head_list_item>a:visited, #head_list_item>a:active {
	text-decoration: none;
}
#navi_bar{
/*    border:1px solid;*/
}

#img_slider{
	width: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
    opacity: 0.99;    
}

#ieee_title {
    width: 25%;
	text-align: center;
	font-size: 2.5vw;
	font-family: calibri; 
    margin: auto;
    color:white;
    font-weight: 200;
    background-color: orange;
    border-radius: 100px 10px 100px 10px;
}

#about_ieee_img{
/*    border: 10px solid;*/
    width: 100%;
    float: left;
    height: auto;
/*    border:1px solid;*/


}
#about_ieee_text{
    padding: 5px;
/*    border: 1px solid;*/
    font-size: 1.5vw;
}

#iiitdm_title {
    width: 25%;
	text-align: center;
	font-size: 2.5vw;
	font-family: calibri; 
    margin: auto;
    color:white;
    font-weight: 200;
    background-color: orange;
    border-radius: 100px 10px 100px 10px;
}

#about_iiitdm_img{
/*    border: 10px solid;*/
    width: 100%;
    height: auto;
/*    border:1px solid;*/


}
#about_iiitdm_text{
    padding: 5px;
/*    border: 1px solid;*/
    font-size: 1.5vw;
}
#t_img{
    width:20%;
    float: left;
/*    border: 1px solid;*/
    margin-right:10px 
}
#t_text{
/*    border: 1px solid;*/
    font-size: 100%;
    float: left;
    font-family: serif; 
    text-align: justify;    
}
#t{
/*    border: 1px solid;*/
}

fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
}
.fh5co-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}

#fh5co-footer {
  position: relative;
}
#fh5co-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}


.btn-primary {
  background: #F85A16;
  color: #fff;
  border: 2px solid #F85A16;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f96c2f !important;
  border-color: #f96c2f !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #F85A16;
  border: 1px solid #F85A16;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #F85A16;
  color: #fff;
}

#image{
    width: 20%;
    margin: 20px;  
    
}
#image:hover {
/*
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
*/
    transform: scale(1.25); 
}

#foot {
    margin:1px;
    background-color: darkgrey;
}
.footerlinks {
    color: white;
    font-family: calibri;
    font-size: 18px;
    
    
    
}
.footerlinks:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer ul {
    list-style-type: none;
    display: block;
}
footer {
    font-family: calibri;
    margin: auto;
  
      background-color: darkgrey;
}
#f_head2,#f_head1,#f_head3 {
    font-size: 22px;
    
}

    
        .jaffa {
            width: 100%;
            margin: auto;
            font-family: calibri;
            font-size: 20px;
            color:white;
            background: black;
            text-align: center;
            border: 4px solid black;
        }

@media only screen and (max-width: 640px) {
   #box1,#box2,#box3 {
     text-align: center;
   }
