*{
    padding: 0px;
    margin: 0px;

}

html {
    padding-left: 2px;
    padding-right: 2px;
}
#ieee_logo{
/*    border: 4px solid;*/
    height: 100px;
    width: 100%;
    margin-top:0.5vw;

}
#iiit_logo{
/*    border: 4px solid;*/
    height: 100px;
    width: 80%;
    float: right;
    margin-top:0.5vw;
}
.row{
    background-color: lightgrey;
    color: white;
    font-family: 'Lato',sans-serif;
}

#head_text{
    border: 4px solid;
    word-wrap: normal;
    text-align: center;
    width: 100%;
    font-size: 3.8vw;
    margin-top:2vh;
    
}
#head_text {

  border: none;
  font: normal/ Arial, Helvetica, sans-serif;
  font-weight: 100;
  /*text-shadow: 2px 3px 8px rgba(0,150,255,0.91) ;*/
}


#navi_bar {
	text-align: center;
    background-color: lightgrey;
    border: 2px solid white;
}

#head_list_item{

    margin-top: 8px;
	display: inline-block;
     
    background-color: lightgrey;

}
#head_list_item>a {
    
    padding: 6px 10px;
    margin:auto;
	color: black;
	font-family: 'Lato',sans-serif;
	font-size: 1.6vw;
   
    text-decoration: none;
   

}
#head_list_item>a:hover {
	color: white;
	background-color: darkblue;
	text-decoration: none;
    font-weight: 600;
    border-radius: 7px;
}

#head_list_item>a:visited, #head_list_item>a:active {
	text-decoration: none;
}
#image{
    width: 29%;
    margin: 5px;  
    
}
/*#image:hover {

    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 

    width:35%; 
    /*transition: all 2s ease;
}
*/

#foot {
    margin:1px;
    background-color: ghostwhite;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footerlinks {
    color: black;
    font-family: calibri;
    font-size: 18px;
    
    
    
}
.footerlinks:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer ul {
    list-style-type: none;
    display: block;
}
footer {
    font-family: calibri;
    margin: auto;
    text-align: center;
    background-color: ghostwhite;
}
#f_head2,#f_head1,#f_head3 {
    font-size: 22px;
    
}

    
        .jaffa {
            width: 100%;
            margin: auto;
            font-family: calibri;
            font-size: 20px;
            color:white;
            background: black;
            text-align: center;
            border: 4px solid black;
        }

@media only screen and (max-width: 640px) {
   #box1,#box2,#box3 {
     text-align: justify;
       padding-left: 30%;
       padding-bottom: 0px;
   }
    #head_list_item>a{
     
       font-size: 16px;
   }
    #image{
        width:45%;
    }
    
}
