*{
    padding: 0px;
    margin: 0px;

}

html {
    padding-left: 4px;
    padding-right: 4px;
}
#ieee_logo{
/*    border: 4px solid;*/
    height: 80px;
    width: 100%;
    margin-top:0.9vw;

}
#iiit_logo{
/*    border: 4px solid;*/
    height: 80px;
    width: 70%;
    float: right;
    margin-top: 1vw;
}

.row{
   background-color: lightgrey;
    color: white;
    font-family: 'Lato',sans-serif;
}

#head_text{
    word-wrap:normal;
    text-align: center;
/*text-shadow: 2px 3px 8px rgba(0,150,255,0.91) ;*/
    font-size: 4vw;
    margin-top: 1vw;
    color: white;
}

#navi_bar {
	text-align: center;
    background-color: lightgrey;
    border: 2px solid white;
}

#head_list_item{

    margin-top: 8px;
	display: inline-block;
     
    background-color: lightgrey;

}
#head_list_item>a {
    
    padding: 6px 10px;
    margin:auto;
	color: black;
	font-family: 'Lato',sans-serif;
	font-size: 1.6vw;
   
    text-decoration: none;
   

}
#head_list_item>a:hover {
	color: white;
	background-color: darkblue;
	text-decoration: none;
    font-weight: 600;
    border-radius: 7px;
}

#head_list_item>a:visited, #head_list_item>a:active {
	text-decoration: none;
}

#eventsul {
    font-family:'Lato',sans-serif;
    padding:10px;
    text-align: center;
    list-style-type: none;
   
}
.eventnames {
    font-family:'Lato',sans-serif;
    color: black;
    font-size: 1.4vw;

    width: 100%;
}
.eventnames:hover {
    color: darkorange;
}
h2 {
font-family: 'Lato',sans-serif;
    font-weight: bold;
    margin:auto;
    text-align: center;
}
.Events {
    border: 2px solid white;
    width: 45%;
    margin:auto;
    padding-left: 20px;
    list-style-type: none;
     background-color: #d6e5ff;
    box-shadow: 1px 1px 15px 9px #4f4f4f; 
 
}



   
#foot {
    margin:1px;
    background-color: ghostwhite;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footerlinks {
    color: black;
    font-family: calibri;
    font-size: 18px;
    
    
    
}
.footerlinks:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer ul {
    list-style-type: none;
    display: block;
}
footer {
    font-family: calibri;
    margin: auto;
    text-align: center;
    background-color: ghostwhite;
}
#transpimg{
   position: relative;
}

#transpimg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(1.jpg);
    opacity: 0.3;
}

.Events {
    position: relative; 
    z-index: 2;
}

#f_head2,#f_head1,#f_head3 {
    font-size: 22px;
    border-bottom: 2px solid white;
}

    
.jaffa {
    width: 100%;
    margin: auto;
    font-family: calibri;
    font-size: 20px;
    color:white;
    background: black;
    text-align: center;
    border: 4px solid black;
}
#register{
    height: 20px;
    width: auto;
    margin-left:15px;
}
#More{
    margin-left:10px;
    font-family: monospace;
    font-size: 15px;
}
#More:hover{
    font-weight:800;
    font-size: 19px;
}
@media only screen and (max-width: 640px) {
   #box1,#box2,#box3 {
     text-align: justify;
       padding-left: 30%;
       padding-bottom: 0px;
   }
    
  
    #head_list_item>a{
     font-size: 16px;
        }
    .eventnames{
        font-size: 16px;
    }
    .Events {
        width: 90%;
    }
            
    
}
@media only screen and (max-width: 700px) {
   	#iiit_logo{

       height: 70%;
   }
   	#ieee_logo{
       align-self: center;
       height: 11vw;
    
   }
}
    

       